@import url('https://fonts.googleapis.com/css2?family=Changa+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@700&display=swap');
* {
    padding: 0;
    border: 0;
    margin: 0;
}

body {
    background-color: black;
}

.content {
    position: relative;
    width: 100%;
    height: 100vh;
}

.content-long {
    position: relative;
    width: 100%;
    height: 165vh;
}

.content-xlong {
    position: relative;
    width: 100%;
    height: 195vh;
}


.content-xxlong {
    position: relative;
    width: 100%;
    height: 220vh;
}

.titles {
    position: relative;
    text-align: left;
    left: 50%;
    top: 50%;
    width: 50%;
    transform: translate(-50%, -50%);
}

.titles div {
    position: relative;
    margin: 0;
    padding: 0;
    margin-bottom: 1vw;
}

.sub-title {
    margin-bottom: 3vh;
}

h1 {
    color: whitesmoke;
    opacity: .8;
    font-size: 13vw;
    font-family: 'Changa One', cursive;
    letter-spacing: 1rem;
    line-height: 10vw;
}

h2 {
    color: whitesmoke;
    font-size: 1.6vw;
    font-family: 'Roboto Slab', serif;
    letter-spacing: .1vw;
    opacity: .8;
}

h5 {
    color: whitesmoke;
    font-size: .7vw;
    font-family: 'Roboto Slab', serif;
    opacity: .8;
    letter-spacing: .2vw;
}

.iframe-container, .small-iframe-container {
    overflow: hidden;
    position: relative;
}

.iframe-container iframe {
    margin-top: 2rem;
    border: 0;
    height: 660px;
    left: 0;
    top: 0;
    width: 100%;
    border-radius: 10px;
}

.small-iframe-container {
    position: relative;
    height: 365px;
    width: 100%;
    margin-top: 1rem;

}

.small-iframe-container iframe {
 
    border: 0;
    height: 365px;
    width: 100%;
    border-radius: 10px;
}

.iframe-container-4x3 {
    padding-top: 75%;
}

.small-video-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

#javaLogo {
    width: 10rem;
}

p {
    color: rgb(255, 255, 255);
    font-size: 1.3rem;
    letter-spacing: .1rem;
    font-family: 'Roboto Slab', serif;
    line-height: 1.8rem;
}

.info, .video-section {
    position: absolute;
    width: 70%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: justify;
}

.info-title {
    margin-bottom: 3vh;
    font-size: 2rem;
}

.nav-bar {
    position: sticky;
    top: 0;
    width: 100%;
    height: 4vw;
    background-color: rgb(165, 0, 0);
    z-index: 1;
}

nav {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

#nav-ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
}

.nav-bar a {
    text-decoration: none;
    color: rgb(221, 221, 221);
    font-size: 1.1vw;
    font-family: 'Cairo', sans-serif;
    opacity: .8;
    letter-spacing: .3vw;
}

.video-brief {
    background-color: rgba(0,0,0, 0.6);
    backdrop-filter: blur(5px);
    padding:1rem;
    margin:0;
    margin-top: 1rem;
    color: whitesmoke;
    border-radius: 10px;
}

#install-steps {
    list-style: none;
    counter-reset: my-awesome-counter;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding:1rem;
    margin:0;
    color: whitesmoke;
}

#install-steps .li-parent {

    counter-increment: my-awesome-counter;
    display: flex;
    font-size: 1rem;
    font-family: 'Roboto Slab', serif;
}

#install-steps .li-parent::before {

    content: "0" counter(my-awesome-counter);
    font-weight: bold;
    font-size: 3vw;
    font-family: 'Roboto Slab', serif;
}

.li-parent ul {
    list-style: none;
    margin-left: 1rem;
    margin-right: 2rem;
    margin-top: .8rem;
    line-height: 1.5rem;
    text-align: left;
}

.li-parent a, .explination a {
    text-decoration: none;
    color: red;
    font-weight: bold;
}

.code-snip pre {
    display: inline-block;
}




a:hover {
    color: white;
}

.code-snip {
    font-size: 2rem;
    display: inline-block;
}

.number-literal {
    color: rgb(227, 136, 255);
}

.code-pink {
    color: rgb(255, 142, 199);
}
.code-element-name-type {
    color: greenyellow;
}
.code-variable-name {
    color: rgb(73, 210, 255);
}

.operator {
    color: red
}

.code-string {
    color: rgb(255, 208, 0);
}
.comment {
    color: rgb(192, 192, 192);
}

.explination {
    font-size: 1rem;
    padding: 2rem 3rem 2rem 3rem;
}

.container:nth-child(1) {
    background-image: url("pics/home/nightSky.jpg");
    background-attachment: fixed;
    background-size: cover;
}
.container:nth-child(3) {
    position: relative;
    background-color: rgb(165, 0, 0);
    height: 30rem;
}
.container:nth-child(4) {
    background-image: url("pics/home/riverSunset.jpg");
    background-attachment: fixed;
    background-size: cover;
}
.container:nth-child(5) {
    position: relative;
    background-color: rgb(165, 0, 0);
    height: 25rem;
}

.container:nth-child(6) {
    background-image: url("pics/home/bud.jpg");
    background-attachment: fixed;
    background-size: cover;
}
.container:nth-child(6) iframe {
    height: 560px;
}

.container:nth-child(7) {
    position: relative;

    background-color: rgb(165, 0, 0);
    height: 25rem;
}

.container:nth-child(8) {
    background-image: url("pics/home/sunset.jpg");
    background-attachment: fixed;
    background-size: cover;
}

.quote {
    width: 41rem;
    
}

/* #color-titles h1, 
#color-titles p {
    color: black;
} */

.quote p {
    font-weight: bold;
    font-size: .9rem;
    font-style: normal;
    text-align: justify;
    letter-spacing: .2rem;
}

.container2:nth-child(1) {
    background-image: url("pics/logic/pine.jpg");
    background-attachment: fixed;
    background-size: cover;
}

.container2:nth-child(3) {
    background-image: url("pics/logic/leaves2.jpg");
    background-attachment: fixed;
    background-size: cover;
}
.container2:nth-child(4) {
    position: relative;
    background-color: rgb(165, 0, 0);
    height: 30rem;
}
.container2:nth-child(5) {
    background-image: url("pics/logic/leaves3.jpg");
    background-attachment: fixed;
    background-size: cover;
}
.container2:nth-child(6) {
    position: relative;
    background-color: rgb(165, 0, 0);
    height: 20rem;
}
.container2:nth-child(7) {
    background-image: url("pics/logic/leaves9.jpg");
    background-attachment: fixed;
    background-size: cover;
}

footer {
    position: relative;
    background-color: rgb(165, 0, 0);
    width: 100%;
    height: 200px;
}

.footer-container {
    position: absolute;
    width: 70%;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
}