@import url('https://fonts.googleapis.com/css2?family=Changa+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@700&display=swap');
* {
    padding: 0;
    border: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}

body {
    background-color: black;
}

.content {
    position: relative;
    width: 100%;
    height: 100vh;
}

.titles {
    position: relative;
    text-align: left;
    left: 50%;
    top: 50%;
    width: 50%;
    transform: translate(-50%, -50%);
}

.titles div {
    position: relative;
    margin: 0;
    padding: 0;
    margin-bottom: 1vw;
}

.sub-title {
    margin-bottom: 3vh;
}

h1 {
    color: whitesmoke;
    opacity: .8;
    font-size: 13vw;
    font-family: 'Changa One', cursive;
    letter-spacing: 1rem;
    line-height: 10vw;
}

h2 {
    color: whitesmoke;
    font-size: 1.6vw;
    font-family: 'Roboto Slab', serif;
    letter-spacing: .1vw;
    opacity: .8;
}

h5 {
    color: whitesmoke;
    font-size: .7vw;
    font-family: 'Roboto Slab', serif;
    opacity: .8;
    letter-spacing: .2vw;
}

.iframe-container {
    overflow: hidden;
    position: relative;

  }

  .iframe-container iframe {
    margin-top: 2rem;
    border: 0;
    height: 660px;
    left: 0;
    top: 0;
    width: 100%;
}

.iframe-container-4x3 {
    padding-top: 75%;
  }

#javaLogo {
    width: 10rem;
}

p {
    color: rgb(255, 255, 255);
    font-size: 1.3rem;
    letter-spacing: .1rem;
    font-family: 'Roboto Slab', serif;
    line-height: 1.8rem;
}

.info, .video-section {
    position: absolute;
    width: 70%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: justify;

}

.info-title {
    margin-bottom: 3vh;
    font-size: 2rem;
}

.nav-bar {
    position: sticky;
    top: 0;
    width: 100%;
    height: 4vw;
    background-color: rgb(165, 0, 0);
    z-index: 1;
}

nav {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
}

a {
    color: rgb(221, 221, 221);
    font-size: 1.1vw;
    font-family: 'Cairo', sans-serif;
    opacity: .8;
    letter-spacing: .3vw;
}

a:hover {
    color: white;
}

.container:nth-child(1) {
    background-image: url("pics/nightSky.jpg");
    background-attachment: fixed;
    background-size: cover;
}

.container:nth-child(2) {
    position: relative;
    background-color: rgb(165, 0, 0);
    height: 30rem;
}



.container:nth-child(4) {
    background-image: url("pics/riverSunset.jpg");
    background-attachment: fixed;
    background-size: cover;
}


.container:nth-child(5) {
    position: relative;
    background-color: rgb(165, 0, 0);
    height: 30rem;
}

.container:nth-child(6) {
    background-image: url("pics/bud.jpg");
    background-attachment: fixed;
    background-size: cover;
}